Xft.dpi:                        109

*font: DejaVu Sans Mono, FontAwesome 9

!! GENERAL !
!
!! special
!*cursorColor:   #33ff00
!*background:    #2b0036
!*foreground:    #ffffff
!
!! black
!*color0:        #000000
!*color8:        #ff7000
!
!! red
!*color1:        #22aa00
!*color9:        #ff0099
!
!! green
!*color2:        #33dd00
!*color10:       #ff003e
!
!! yellow
!*color3:        #c40075
!*color11:       #b80021
!
!! blue
!*color4:        #0070ff
!*color12:       #0059b9
!
!! magenta
!*color5:        #db00ff
!*color13:       #73009b
!
!! cyan 
!*color6:        #00fcff
!*color14:       #019b9b
!
!! white
!*color7:        #ccff00
!*color15:       #c7c700

#################################
# Color settings (Solarized dark)
#################################

*background: #002b36
*foreground: #657b83
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
*color0: #073642
*color8: #002b36

!! red dark/light
*color1: #dc322f
*color9: #cb4b16

!! green dark/light
*color2: #859900
*color10: #586e75

!! yellow dark/light
*color3: #b58900
*color11: #657b83

!! blue dark/light
*color4: #268bd2
*color12: #839496

!! magenta dark/light
*color5: #d33682
*color13: #6c71c4

!! cyan dark/light
*color6: #2aa198
*color14: #93a1a1

!! white dark/light
*color7: #eee8d5
*color15: #fdf6e3

! ROFI !
rofi.modi:                           window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       termite
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        3
! rofi.font:                           Monospace 9
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #002b36,  #657b83,  #002b36,  #6c71c4,  #eee8d5
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #002b36,      #6c71c4
rofi.bw:                             5
rofi.location:                       0
rofi.padding:                        5
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8


