Xft.dpi:                        109

! GENERAL !

! special
*cursorColor:   #33ff00
*background:    #2b0036
*foreground:    #ffffff

! black
*color0:        #000000
*color8:        #ff7000

! red
*color1:        #22aa00
*color9:        #ff0099

! green
*color2:        #33dd00
*color10:       #ff003e

! yellow
*color3:        #c40075
*color11:       #b80021

! blue
*color4:        #0070ff
*color12:       #0059b9

! magenta
*color5:        #db00ff
*color13:       #73009b

! cyan 
*color6:        #00fcff
*color14:       #019b9b

! white
*color7:        #ccff00
*color15:       #c7c700

! ROFI !
rofi.modi:                           window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       termite
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        3
rofi.font:                           Monospace 9
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #2b0036,  #93fbfa,  #2b0036,  #db00ff,  #FFFFFF
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF

!                  'background', 'border'
rofi.color-window: #2b0036,      #db00ff
rofi.bw:                             5
rofi.location:                       0
rofi.padding:                        5
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8


