$base03 =  {color0}
$base02 =  {color8}
$base01 =  {color10}
$base00 =  {color11}
$base0 =   {color12}
$base1 =   {color14}
$base2 =   {color7}
$base3 =   {color5}

$yellow =  {color3} 
$orange =  {color9} 
$red =     {color1}
$magenta = {color5}
$violet =  {color13} 
$blue =    {color4} 
$cyan =    {color6}
$green =   {color2} 

if $solarized is dark
  $fg =      $base0
  $bg =      $base03
  $hl =      $base02
  $emph =    $base1
  $comment = $base01
else
  $fg =      $base00
  $bg =      $base3
  $hl =      $base2
  $emph =    $base01
  $comment = $base1
