home/.config/nvim/plugged
home/bin
*.errors
*.hi
*.o
xmonad-x86_64-linux
elpa
transient
*~
*.eld
prompt-history
recentf
.cache
.lsp-session*
\#*\#
*-git
.stack-work
stack.yaml*
xmobar
!xmobar*.hs
*/.xmonad/build
