# Downloadable
home/.config/nvim/plugged
elpa
*-git
*.zip
!rice.png

# Binaries
xmonad-x86_64-linux
xmonadctl
color-utils
transient
*.hi
*.o
*.eld
*/.xmonad/build

# Temp
*~
prompt-history
recentf
.cache
.lsp-session*
\#*\#
.stack-work
*.errors
*.log
*.lock
/home/bin/ics-to-org
/home/bin/__pycache__/
