# Downloadable
home/.config/nvim/plugged
elpa
*-git
*.zip

# Binaries
xmonad-x86_64-linux
color-utils
transient
*.hi
*.o
*.eld
*/.xmonad/build

# Temp
*~
prompt-history
recentf
.cache
.lsp-session*
\#*\#
.stack-work
*.errors
