Xft.dpi:                        109
*font: Hack Nerd Font Mono 9
!! GENERAL !
!
!! special
!*cursorColor:   #33ff00
!*background:    #2b0036
!*foreground:    #ffffff
!
!! black
!*color0:        #000000
!*color8:        #ff7000
!
!! red
!*color1:        #22aa00
!*color9:        #ff0099
!
!! green
!*color2:        #33dd00
!*color10:       #ff003e
!
!! yellow
!*color3:        #c40075
!*color11:       #b80021
!
!! blue
!*color4:        #0070ff
!*color12:       #0059b9
!
!! magenta
!*color5:        #db00ff
!*color13:       #73009b
!
!! cyan 
!*color6:        #00fcff
!*color14:       #019b9b
!
!! white
!*color7:        #ccff00
!*color15:       #c7c700
*background: #1d2021
*foreground: #d5c4a1
!!*fading: 40
*fadeColor: #002b36
*cursorColor: #d5c4a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1
!! black dark/light
*color0: #1d2021
*color8: #665c54
!! red dark/light
*color1: #fb4934
*color9: #fb4934
!! green dark/light
*color2: #b8bb26
*color10: #b8bb26
!! yellow dark/light
*color3: #fabd2f
*color11: #fabd2f
!! blue dark/light
*color4: #83a598
*color12: #83a598
!! magenta dark/light
*color5: #d3869b
*color13: #d3869b
!! cyan dark/light
*color6: #8ec07c
*color14: #8ec07c
!! white dark/light
*color7: #d5c4a1
*color15: #fbf1c7
! ROFI !
rofi.modi:                           window,drun,run
rofi.sidebar-mode:                   false
rofi.terminal:                       alacritty
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        3
! rofi.font:                           Monospace 9
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #1d2021, #d5c4a1, #1d2021, #d3869b, #d5c4a1
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
! rofi.color-normal: #353944,  #FFFFFF,  #353944,  #5294E2,  #FFFFFF
!                  'background', 'border'
rofi.color-window: #1d2021, #d3869b
rofi.bw:                             5
rofi.location:                       1
rofi.padding:                        4
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8
