simplified_ui true
pane_frames false

show_release_notes false
show_startup_tips false

default_layout "basic"

keybinds clear-defaults=true {
  normal {
    bind "Alt Enter" { NewPane "Right"; }
    bind "Alt Shift Enter" { NewPane "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt l" { MoveFocus "Right"; }
    bind "Alt Shift k" { MovePane "Up"; }
    bind "Alt Shift j" { MovePane "Down"; }
    bind "Alt Shift h" { MovePane "Left"; }
    bind "Alt Shift l" { MovePane "Right"; }
    bind "Alt f" { ToggleFocusFullscreen; }
    bind "Alt Shift q" { CloseFocus; }

    bind "Alt ," { ToggleFloatingPanes; }
    bind "Alt ." { TogglePaneEmbedOrFloating; }

    bind "Alt t" { NewTab; }
    bind "Alt w" { CloseTab; }
    bind "Alt n" { GoToNextTab; }
    bind "Alt p" { GoToPreviousTab; }
    bind "Alt Shift n" { MoveTab "Right"; }
    bind "Alt Shift p" { MoveTab "Left"; }

    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
    bind "Alt 0" { GoToTab 10; }

    bind "Alt r" { SwitchToMode "resize"; }
    bind "Alt s" { SwitchToMode "session"; }
  }

  resize {
    bind "h" { Resize "Left"; }
    bind "l" { Resize "Right"; }
    bind "j" { Resize "Down"; }
    bind "k" { Resize "Up"; }
    bind "Shift h" { MovePane "Left"; }
    bind "Shift l" { MovePane "Right"; }
    bind "Shift j" { MovePane "Down"; }
    bind "Shift k" { MovePane "Up"; }
    bind "Esc" { SwitchToMode "normal"; }
  }

  session {
    bind "d" { Detach; }
    bind "Esc" { SwitchToMode "normal"; }
  }
}

ui {
    pane_frames {
        hide_session_name true
    }
}
