*.background:	#1c1e1f
*.color0:	#272822
*.color1:	#e3276b
*.color10:	#a6e22e
*.color11:	#f4bf75
*.color12:	#66d9ef
*.color13:	#ae81ff
*.color14:	#a1efe4
*.color15:	#f9f8f5
*.color2:	#a6e22e
*.color3:	#f4bf75
*.color4:	#66d9ef
*.color5:	#ae81ff
*.color6:	#a1efe4
*.color66:	#272822
*.color7:	#f8f8f2
*.color8:	#75715e
*.color9:	#e3276b
*.foreground:	#f8f8f2
*background:	#1c1e1f
*color0:	#272822
*color1:	#e3276b
*color10:	#a6e22e
*color11:	#f4bf75
*color12:	#66d9ef
*color13:	#ae81ff
*color14:	#a1efe4
*color15:	#f9f8f5
*color2:	#a6e22e
*color3:	#f4bf75
*color4:	#66d9ef
*color5:	#ae81ff
*color6:	#a1efe4
*color66:	#272822
*color7:	#f8f8f2
*color8:	#75715e
*color9:	#e3276b
*cursorColor:	#d5c4a1
*fadeColor:	#002b36
*font:	Hack 9
*foreground:	#f8f8f2
*pointerColorBackground:	#586e75
*pointerColorForeground:	#93a1a1
URxvt*background:	[80]#1c1e1f
URxvt*borderColor:	[80]#1c1e1f
URxvt*cursorColor:	#f92672
URxvt*depth:	32
URxvt*font:	xft:Hack:size=9
URxvt*foreground:	#f8f8f2
URxvt*letterSpace:	-1
URxvt*scrollBar:	False
UXTerm*background:	#1c1e1f
UXTerm*cursorColor:	#f92672
UXTerm*foreground:	#f8f8f2
XClock*background:	#1c1e1f
XClock*foreground:	#f8f8f2
XClock*hourColor:	rgba:f9/f8/f5/ff
XClock*majorColor:	rgba:f9/f8/f5/ff
XClock*minorColor:	rgba:f9/f8/f5/ff
XClock*minuteColor:	rgba:f9/f8/f5/ff
XClock*secondColor:	rgba:f9/f8/f5/ff
XTerm*background:	#1c1e1f
XTerm*cursorColor:	#f92672
XTerm*foreground:	#f8f8f2
Xcursor.theme:	Adwaita
Xft.dpi:	109
emacs*background:	#1c1e1f
emacs*foreground:	#f8f8f2
rofi.bw:	5
rofi.case-sensitive:	false
rofi.color-normal:	#1d2021, #d5c4a1, #1d2021, #d3869b, #d5c4a1
rofi.color-window:	#1d2021, #d3869b
rofi.columns:	3
rofi.fuzzy:	false
rofi.hide-scrollbar:	true
rofi.levenshtein-sort:	true
rofi.line-margin:	2
rofi.lines:	8
rofi.location:	1
rofi.markup-rows:	false
rofi.modi:	window,drun,run
rofi.opacity:	100
rofi.padding:	4
rofi.scrollbar-width:	8
rofi.separator-style:	solid
rofi.sidebar-mode:	false
rofi.terminal:	alacritty
rofi.width:	50
